.idea/
.idea_modules/
test-results/
bin/
obj/
out/

*.userprefs
*.usertasks
*.pidb
*.resources
*.iws

atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
